# Скрытая папка Visual Studio
.vs/

# Сборки и бинарники
x64/
x86/
Debug/
Release/
*.obj
*.exe
*.pdb
*.ilk
*.idb

# Пользовательские настройки VS
*.user

# Выходные файлы генерации отчетов
*_рифмы*.txt